@import "../../styles/variables";
.VissionMission-main {
  background-image: url(../../images/vissionmissionbg.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.VissionMission-text {
  padding: 30px 24px;
}
.VissionMission-text-header {
  color: $black;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.2px;
  font-size: 2em;
}
.VissionMission-text-content {
  color: $black;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.2px;
}
.VissionMission-image {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .VissionMission-text {
    display: flex;
    flex: 90%;
    gap: 10px;
  }
  .VissionMission-main {
    display: flex;
    gap: 10px;
    padding:60px;
  }
  .VissionMission-img {
    margin-top: 60px;
  }
  .VissionMission-text1 {
    flex: 55%;
  }
  .VissionMission-text2 {
    flex: 50%;
  }
}
