@import "../../styles/variables";
.VissionMission-main {
  background-image: url(../../images/vissionmissionbg.png);
  background-color: $black;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px 24px 30px;
}
.VissionMission-text-header {
  color: $white;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.2px;
  font-size: 36px;
}
.VissionMission-text-content {
  color: $white;
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.2px;
  text-align: left;
}
.VissionMission-image {
  display: none;
}
@media screen and (min-width: 768px) {
  .VissionMission-text {
    display: flex;
    gap: 12px;
  }
  .VissionMission-main {
    padding: 30px 60px;
  }
}
@media screen and (min-width: 998px) {
  .VissionMission-text-content {
    font-size: 16px;
  }
  .VissionMission-main {
    display: flex;
    gap: 24px;
  }
  .VissionMission-image {
    display: block;
    width: 100%;
  }
  .VissionMission-img {
    margin-top: 40px;
    width: 180rem;
  }
}
