@import "../../styles/variables";
.casestudies-main {
  background-color: $black;
  padding: 30px 24px;
}
.casestudies-heading {
  color: $white;

  letter-spacing: 0.2px;
  line-height: 1.4;
  text-align: center;
  h3 {
    font-size: 22px;
    font-weight: 600;
  }
  h1 {
    font-size: 38px;
    font-weight: 600;
  }
}

/* Card component styles */
.casestudycard-main {
  text-align: center;
}
.casestudycard-image {
  img {
    width: 100px;
  }
}
.casestudycard-content {
  color: $white;
  letter-spacing: 0.2px;
  line-height: 1.4;
}
.casestudycard-heading {
  h2 {
    font-size: 24px;
    font-weight: 600;
  }
}
.casestudycard-description {
  p {
    font-size: 16px;
    font-weight: 500;
  }
}
@media screen and (min-width: 768px) {
  .casestudies-sections {
    display: flex;
    gap: 10px;
    padding-top: 40px;
  }
  .casestudies-heading{
    h1{
      padding: 0 15%;
    }
  }
}
@media screen and (min-width: 998px) {
  .casestudies-main {
    padding: 30px 60px;
  }
}
