@import "../../styles/variables";
.casestudies-main {
  background-color: $black;
  padding: 30px 24px;
}
.casestudies-heading {
  color: $white;

  letter-spacing: 0.2px;
  line-height: 1.4;
  text-align: center;
  h3 {
    font-size: 18px;
    font-weight: 600;
  }
  h1 {
    font-size: 34px;
    font-weight: 600;
  }
}

/* Card component styles */
.casestudycard-main {
  padding: 18px 2px;
}
.casestudycard-image {
  justify-content: center;
  align-content: center;
  img {
    width: 100%;
  }
}
.casestudycard-content {
  color: $white;
}
.casestudycard-heading {
  h2 {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
  }
}
.casestudycard-description {
  p {
    font-size: 16px;
    text-align: center;
    font-weight: 600;
  }
}
@media screen and (min-width: 768px) {
  .casestudies-sections {
    display: flex;
    justify-content: space-between;
    background-image: url("../../images/line-image.png");
    background-size: auto;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 998px) {
  .casestudies-main {
    padding: 30px 60px;
  }
}
