@import '../../styles/variables';

.casestudies{
    padding: 15px 0px;
}
.casestudies-heading {
    font-size: 35px;
    font-weight: 700;
    color: $primary-color;
    text-align: center;
}
.casestudies-sub-heading {
    font-size: 16px;
    font-weight: 500;
    color: $black;
    text-align: center;
}
.casestudies-content {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 10px;
    margin-top: 20px;
    padding: 30px;
    color: $white;
}
.casestudies-content-wraper {
    border: 1px solid $black;
    background: $black;
    text-align: center;
    padding: 40px;
}
.casestudies-content-wraper-heading {
    font-size: 16px;
    font-weight: 700;
}
.casestudies-content-wraper-descrp {
    font-size: 16px;
    font-weight: 500;
}
.casestudies-content-wraper-btn {
    padding-top: 15px;
    text-align: center;
}

.process {
    background-color: $black;
    color: $white;
    text-align: center;
}
.process-heading {
    font-size: 16px;
    font-weight: 500;
    padding: 30px ;
}
.process-sub-heading {
    font-size: 35px;
    font-weight: 700;
    padding-bottom: 20px ;
    max-width:300px;
    margin:0 auto;
}
.process-content {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 10px;
    padding: 20px;
}
.process-content-col img {
    width: 60px;
}
.process-content-col-heading {
    font-size: 24px;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom:15px;
}
.process-content-col-descrp {
    font-size: 16px;
    font-weight: 500;
    padding-top: 10px;
    text-align:center;
    max-width:359px;
}

@media screen and (min-width: 576px) {
    .casestudies-content {
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (min-width: 768px) {
    .process-content {
        grid-template-columns: repeat(3,1fr);
        padding: 0px 77px 50px;
    }
    .casestudies-content {
        grid-template-columns: repeat(3,1fr);
        padding: 0px 72px 50px;
    }
}    
