@import '../../styles/variables';

.contactus-icons{
    width: 35px;
    height: 35px;
}
.contactus-icons1{
    width:35px;
    height:35px;
}
.address-heading{
    color: $primary-color;
    font-size: 22px;
    font-weight: 600;
    background-color: $grey;
    text-align: center;
    margin:30px 9px 30px 9px;
    padding:6px;
}
.address-details{
    margin: 20px 10px 10px ;
    box-shadow: 0 0 33px 0 rgb(0 0 0 / 8%);
    padding:20px;
}
.addressCard2{
    margin-top:20px;
}
.address{
    display:flex;
    gap:15px;
}
.address-content2{
    padding-top:10px;
    width:260px;
    overflow-wrap:break-word;
    word-break: break-word;
    word-wrap: break-word;
    color:$black;
}
.address-call-mail-p{
    color:$black;
    text-decoration: none;
}
.address-content2 a:hover{
    border-bottom:1px solid $black;
}
@media screen and (min-width:425px){
    .addressCard{
        margin:30px;
    }
    .address-content2{
        padding-top:10px;
    }
}
@media screen and (min-width:768px){
    .addressCard{
        display:flex;
        margin:10px;
       
    }
    .addressCard2{
        margin-top:0px;
        
    }
    .address-content1{
        padding-top:15px;
    }
    .address-content2{
        padding-top:15px;  
    }
    .contactus-icons1{
       padding-top:15px;
    }
}
@media screen and (min-width:1024px){
    .addressCard{
        margin:0 100px;
        
    }
    .address-content2{
        white-space: nowrap;
    }
   
}
@media screen and (min-width:1440px){
    .addressCard{
        margin:0 130px;
        gap:30px;
    }
}