@import "../../styles/_variables";
.yearsofexperience-main {
  padding: 10px 24px 30px;
}
.yearsofexperience-count {
  font-size: 114px;
  line-height: 0.2;
  color: $primary-color;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
}
.yearsofexperience-heading {
  font-size: 36px;
  text-align: center;
  color: $black;
  line-height: 1.5;
  letter-spacing: 0.2px;
  font-weight: 600;
}
.yearsofexperience-content {
  color: $black;
  line-height: 2;
  letter-spacing: 0.2px;
  font-weight: 400;
  font-size: 14px;
  text-align: left;
}
.yearsofexperience-image {
  display: none;
}
@media screen and (min-width: 768px) {
  .yearsofexperience-text-header {
    display: flex;
    align-items: center;
  }
  .yearsofexperience-content {
    margin-top: -8px;
  }
}
@media screen and (min-width: 998px) {
  .yearsofexperience-main {
    padding: 30px 60px 60px;
    display: flex;
    justify-content: space-between;
  }
  .yearsofexperience-img-wrapper {
    margin-top: 30px;
    width: 280rem;
  }
  .yearsofexperience-image {
    height: 100%;
    width: 100%;
    display: block;
  }
  .yearsofexperience-text {
    margin-right: 24px;
  }
  .yearsofexperience-content {
    font-size: 16px;
  }
}
