@import '../../styles/variables';

.footer-main {
    background-color: $black;
    color: $white;
<<<<<<< HEAD
}
=======
    position: relative;
}
.footerbg {
    width: 100%;
    height: 150vh;
}
.footer-main {
    position: absolute;
    top: 5%;
}

>>>>>>> d36c86bfa30b59292066f8fd7d7255046d849689
.footer-cnt {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    padding: 10px 10px 20px 20px;
    border-bottom: 1px solid $white;
}
.footer-cnt-col-1-heading{
    font-size: 22px;
    font-weight: 700;
    padding-bottom: 30px;
}
.footer-cnt-col-1-descr {
    display: flex;
}
.footer-cnt-col-1-descr-icon img{
    width: 40px;
}
.footer-cnt-col-1-descr-text {
    padding-left: 30px;
    font-size: 14px;
    font-weight: 500;
    width: 70%;
}
.footer-cnt-col-2-heading{
    font-size: 22px;
    font-weight: 700;
    padding-bottom: 30px;
}
.footer-cnt-col-2-ctus{
    font-size: 16px;
    font-weight: 500;
    padding-top: 10px;
}
.footer-cnt-col-2-abtus{
    font-size: 16px;
    font-weight: 500;
    padding-top: 10px;
}
.footer-cnt-col-3-heading{
    font-size: 22px;
    font-weight: 700;
    padding-bottom: 30px;
}
.footer-cnt-col-3-resources{
    font-size: 16px;
    font-weight: 500;
    padding-top: 10px;
}
.footer-cnt-col-3-carrers{
    font-size: 16px;
    font-weight: 500;
    padding-top: 10px;
}
.footer-cnt-col-4-heading{
    font-size: 22px;
    font-weight: 700;
    padding-bottom: 30px;
}
.footer-cnt-col-4-phone {
    display: flex;
    padding-top: 10px;
}
.footer-cnt-col-4-phone-icon img{
    width: 30px;
}
.footer-cnt-col-4-phone-number {
    padding-left: 10px;
    font-size: 16px;
    font-weight: 500;
    width: 70%;
}
.footer-cnt-col-4-mail {
    display: flex;
    padding-top: 10px;
}
.footer-cnt-col-4-mail-icon img{
    width: 30px;
}
.footer-cnt-col-4-mail-text {
    padding-left: 10px;
    font-size: 16px;
    font-weight: 500;
    width: 70%;
}
.footer-cnt2 {
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.footer-cnt2-col1 {
    text-align: center;
}
.footer-cnt2-col1 img{
    width: 20px;
    padding-right: 10px;
}
.footer-cnt2-col2 .all-rights {
    font-size: 12px;
    font-weight: 400;
    color: $primary-color;
    text-align: center;
    padding-top: 10px;
}
.scroll-button {
    position: sticky;
    z-index: 999;
}
@media screen and (min-width: 768px) {
    .footer-cnt {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        padding: 10px 10px 20px 0px;
        margin: 0px 72px;
    }
    .footer-cnt2 {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0px 20px 0px;
        margin: 0px 72px;
    }
    .footer-cnt2-col1 {
        text-align: center;
    }
    .footer-cnt2-col1 img{
        width: 20px;
        padding-right: 10px;
    }
    .footer-cnt2-col {
        justify-content: end;
    }
    .footer-cnt2-col2 .all-rights {
        text-align: center;
        padding:  0px;
    }
}
@media screen and (min-width: 998px) {
    .footer-cnt {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
        padding-top: 72px ;
        margin: 0px 72px;
    }
}