@import '../../styles/variables';

.footer-main {
    background-color: $black;
    color: $white;
    padding-top:10px;
    padding-left:15px;
    padding-bottom:30px;
}
.footer-col-head{
       font-size:20px;
       font-weight: 700;
       margin-bottom:40px;
       text-transform: uppercase;
}
.footer-li{
    max-width:250px;
    font-size:14px;
    font-weight:500;
    margin-bottom:11px;
    list-style: none;
}
@media screen and (min-width:768px){
    .footer-main{
        display:flex;
        justify-content: space-between;
        padding:0px 60px;
    }
    .footer-col-head{
        font-size:22px;
    }
}
