@import '../../styles/variables';

.office-h{
    color:$black;
    font-size:36px;
    font-weight:600;
    margin-top:59px;
    background-color:$light-grey;
    text-align:center;
    margin-bottom:111PX;
}